# Results notebook

## Data preprocessing

In [1]:
import pandas as pd

In [2]:
def extract_year(date):
    if date:
        return str(date).split('-')[0]
    return None

#### CMU dataset

Link to download the data: https://www.cs.cmu.edu/~ark/personas/

In [3]:
df_cmu_movie_metadata = pd.read_csv('data/cmu/movie.metadata.tsv', sep='\t', header=None)
df_cmu_movie_metadata.columns = ['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_date', 'revenue', 'runtime', 'languages', 'countries', 'genres']
df_cmu_movie_metadata.sample(5)

,wikipedia_movie_id,freebase_movie_id,name,release_date,revenue,runtime,languages,countries,genres
12853,33636465,/m/04yb1wj,Janghwa Hongryeonjeon,1972-07-29,NaN,90.0,{},"{""/m/06qd3"": ""South Korea""}","{""/m/03npn"": ""Horror"", ""/m/07s9rl0"": ""Drama""}"
41767,31026333,/m/0gg99zz,El inocente,1956,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0b90_r"": ""Mexico""}","{""/m/05p553"": ""Comedy film""}"
71023,5675749,/m/0dzk3q,Alive: 20 Years Later,1993,NaN,51.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/03g3w"": ""History"", ""/m/017fp"": ""Biography..."
47757,18514725,/m/04d_1h7,Five Days One Summer,1982,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/068d7h"": ""Romantic drama"", ""/m/02l7c8"": ""..."
33878,1011144,/m/03y_wr,The Farmer's Wife,1928-03,NaN,97.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/07ssc"": ""United Kingdom""}","{""/m/06ppq"": ""Silent film"", ""/m/0219x_"": ""Indi..."

In [4]:
df_cmu_movie_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81741 entries, 0 to 81740
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   wikipedia_movie_id  81741 non-null  int64
 1   freebase_movie_id   81741 non-null  object
 2   name                81741 non-null  object
 3   release_date        74839 non-null  object
 4   revenue             8401 non-null   float64
 5   runtime             61291 non-null  float64
 6   languages           81741 non-null  object
 7   countries           81741 non-null  object
 8   genres              81741 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.6+ MB

In [5]:
print("CMU Movie Metadata shape before filtering: ", df_cmu_movie_metadata.shape)

CMU Movie Metadata shape before filtering:  (81741, 9)

In [6]:
print("Number of movies with revenue information: ", df_cmu_movie_metadata[df_cmu_movie_metadata['revenue'].notnull()].shape)
# We need to update this column with updated information

Number of movies with revenue information:  (8401, 9)

In [7]:
print("Number of movies with release date information: ", df_cmu_movie_metadata[df_cmu_movie_metadata['release_date'].notnull()].shape)
df_cmu_movie_metadata.dropna(subset=['release_date'], inplace=True)

Number of movies with release date information:  (74839, 9)

In [8]:
df_cmu_movie_metadata['release_year'] = df_cmu_movie_metadata['release_date'].apply(extract_year)
df_cmu_movie_metadata.head()

,wikipedia_movie_id,freebase_movie_id,name,release_date,revenue,runtime,languages,countries,genres,release_year
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983

In [9]:
df_cmu_plot_summaries = pd.read_csv('data/cmu/plot_summaries.txt', sep='\t', header=None)
df_cmu_plot_summaries.columns = ['wiki_id', 'summary']
df_cmu_plot_summaries.sample(5)

        wiki_id                                            summary
6759   29498613  Cert: 15 Stella  decides to marry Anton , 3 ye...
11754  15713038  Anita "Needy" Lesnicki , once an insecure teen...
17616  13494664  The film is about a young dancer trying to mak...
36322   6105347  Cobb stars as a small-town Georgian bank clerk...
41775  32880599  The film begins with Mr Alston telling his son...

In [10]:
df_cmu_character_metadata = pd.read_csv('data/cmu/character.metadata.tsv', sep='\t', header=None)
df_cmu_character_metadata.columns = [
    "wikipedia_movie_id", "freebase_movie_id", "release_date", "character_name",
    "actor_date_of_birth", "actor_gender", "actor_height_in_meters", "actor_ethnicity_freebase_id",
    "actor_name", "actor_age_at_movie_release", "freebase_character_actor_map_id",
    "freebase_character_id", "freebase_actor_id"
]

In [11]:
print("CMU Character Metadata shape before filtering: ", df_cmu_character_metadata.shape)

CMU Character Metadata shape before filtering:  (450669, 13)

In [12]:
print("Number of movies with release date information: ", df_cmu_character_metadata[df_cmu_character_metadata['release_date'].notnull()].shape)
df_cmu_character_metadata.dropna(subset=['release_date'], inplace=True)

Number of movies with release date information:  (440674, 13)

In [13]:
df_cmu_character_metadata['release_year'] = df_cmu_character_metadata['release_date'].apply(extract_year)
df_cmu_character_metadata.head()

,wikipedia_movie_id,freebase_movie_id,release_date,character_name,actor_date_of_birth,actor_gender,actor_height_in_meters,actor_ethnicity_freebase_id,actor_name,actor_age_at_movie_release,freebase_character_actor_map_id,freebase_character_id,freebase_actor_id,release_year
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,2001
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,2001
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,2001
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,2001
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,2001

#### Tropes dataset

Link to download the data: https://drive.google.com/file/d/1Duyz5ATlLHzwMidj15bWVnWHpdE4aRXn/view?usp=sharing

In [14]:
df_tropes = pd.read_csv('data/tropes/tropes.csv', index_col=0)
df_tropes.columns = ['trope_id', 'trope', 'description']
df_tropes.sample(5)

,trope_id,trope,description
17110,t17111,PlainJane,"A character, usually female, who describes her..."
9192,t09193,GMPC,"Sometimes, a Game Master doesn't have enough p..."
16331,t16332,OrcusOnHisThrone,"Deep in Mordor, at the top of the Evil Tower o..."
28386,t28387,PSA,Commercials put on by the government for publi...
3131,t03132,CameraPerspectiveSwitch,This is a gaming trope where the player's pers...

In [15]:
df_imdb_movie_tropes = pd.read_csv('data/tropes/film_imdb_match.csv', index_col=0)
df_imdb_movie_tropes.columns = ['title', 'trope', 'example', 'clean_title', 'tconst', 'trope_id', 'title_id']
df_imdb_movie_tropes = df_imdb_movie_tropes.drop(columns=['trope'])
df_imdb_movie_tropes.head()

,title,example,clean_title,tconst,trope_id,title_id
0,ABBATheMovie,The concert segments make it clear that Agnet...,abbathemovie,tt0075617,t14656,f0
1,ABBATheMovie,The radio station manager that tasks Ashley w...,abbathemovie,tt0075617,t11527,f0
2,ABBATheMovie,A rare male example; when Benny reads one new...,abbathemovie,tt0075617,t23019,f0
3,ABBATheMovie,During Ashley's fantasy sequence in which he ...,abbathemovie,tt0075617,t09016,f0
4,ABBATheMovie,"Frida's outfit in the ""Why Did It Have to Be ...",abbathemovie,tt0075617,t25994,f0

In [16]:
df_imdb_movie_tropes = df_imdb_movie_tropes.merge(df_tropes, how='inner', left_on='trope_id', right_on='trope_id')
df_imdb_movie_tropes = df_imdb_movie_tropes[['tconst', 'title_id', 'clean_title', 'trope_id', 'trope', 'description', 'example']]
df_imdb_movie_tropes.rename(columns={'tconst': 'imdb_id'}, inplace=True)
df_imdb_movie_tropes.head()

,imdb_id,title_id,clean_title,trope_id,trope,description,example
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ..."

#### IMDB dataset

Link to download the data: https://developer.imdb.com/non-commercial-datasets/, download the title.basics.tsv.gz file

In [17]:
# Jianan changed replaced df_imdb with df_imdb_title_basics
# df_imdb = pd.read_csv('data/imdb/title.basics.tsv', sep='\t')
# df_imdb.sample(5)

# Load title.basics for movie details
df_imdb_title_basics = pd.read_csv('data/imdb/title.basics.tsv', sep='\t')
df_imdb_title_basics = df_imdb_title_basics[df_imdb_title_basics['titleType'] == 'movie']  # Filter to keep only movies
print("title.basics sample:")
df_imdb_title_basics.head()

C:\Users\jiana\AppData\Local\Temp\ipykernel_15904\1783139240.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb_title_basics = pd.read_csv('data/imdb/title.basics.tsv', sep='\t')

title.basics sample:

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama

In [18]:
# Load title.ratings for movie ratings
df_imdb_title_ratings = pd.read_csv('data/imdb/title.ratings.tsv', sep='\t', usecols=['tconst', 'averageRating', 'numVotes'])
print("\ntitle.ratings sample:")
df_imdb_title_ratings.head()

title.ratings sample:

      tconst  averageRating  numVotes
0  tt0000001            5.7      2100
1  tt0000002            5.6       282
2  tt0000003            6.5      2119
3  tt0000004            5.4       182
4  tt0000005            6.2      2850

In [19]:
# Load title.crew for director information
df_imdb_title_crew = pd.read_csv('data/imdb/title.crew.tsv', sep='\t', usecols=['tconst', 'directors'])
df_imdb_title_crew = df_imdb_title_crew[df_imdb_title_crew['directors'] != '\\N']  # Remove rows where directors are missing
df_imdb_title_crew = df_imdb_title_crew.assign(director=df_imdb_title_crew['directors'].str.split(',')).explode('director')  # Expand multiple directors
print("\ntitle.crew sample:")
df_imdb_title_crew.head()

title.crew sample:

      tconst  directors   director
0  tt0000001  nm0005690  nm0005690
1  tt0000002  nm0721526  nm0721526
2  tt0000003  nm0721526  nm0721526
3  tt0000004  nm0721526  nm0721526
4  tt0000005  nm0005690  nm0005690

In [20]:
# Load name.basics for director details
df_imdb_name_basics = pd.read_csv('data/imdb/name.basics.tsv', sep='\t', usecols=['nconst', 'primaryName', 'birthYear', 'primaryProfession', 'knownForTitles'])
print("\nname.basics sample:")
df_imdb_name_basics.head()

name.basics sample:

,nconst,primaryName,birthYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [21]:
# Load title.principals for actor information
# We already handle director information through title.crew and name.basics. We will only load actor information here.
df_imdb_title_principals = pd.read_csv('data/imdb/title.principals.tsv', sep='\t', usecols=['tconst', 'nconst', 'category'])
df_imdb_title_principals = df_imdb_title_principals[df_imdb_title_principals['category'] == 'actor']  # Filter to keep only actors
print("\ntitle.principals sample:")
df_imdb_title_principals.head()

title.principals sample:

       tconst     nconst category
13  tt0000005  nm0443482    actor
14  tt0000005  nm0653042    actor
16  tt0000007  nm0179163    actor
17  tt0000007  nm0183947    actor
23  tt0000008  nm0653028    actor

##### Obtain complete IMDB dataset for analyzing directors (+ revenue in CMU movie)

In [ ]:
# Merge title.basics and title.ratings to get movie details with ratings
df_imdb_movies = pd.merge(df_imdb_title_basics, df_imdb_title_ratings, on='tconst', how='left')

# Merge with title.crew to add director information
df_imdb_directors = pd.merge(df_imdb_movies, df_imdb_title_crew, on='tconst', how='left')

# Merge with name.basics to get director's name and known titles
df_imdb_directors = pd.merge(df_imdb_directors, df_imdb_name_basics, left_on='director', right_on='nconst', how='left')

# Merge with title.principals to add actor information
df_imdb_directors_actors = pd.merge(df_imdb_directors, df_imdb_title_principals, on='tconst', how='left')

# Now, merge again with name.basics to get the actor's name (for the `actor_id` from `title.principals`)
df_imdb_directors_actors = pd.merge(df_imdb_directors_actors, df_imdb_name_basics[['nconst', 'primaryName']], left_on='nconst_y', right_on='nconst', how='left')

# Keep only relevant columns in the final merged DataFrame
df_imdb_directors_actors = df_imdb_directors_actors[['tconst', 'primaryTitle', 'startYear', 'genres', 
                                                     'averageRating', 'numVotes', 'primaryName_x', 
                                                     'birthYear', 'knownForTitles', 'nconst_y', 'primaryName_y']]

df_imdb_directors_actors.columns = ['movie_id', 'movie_name', 'movie_release_year', 'genres', 'average_rating', 
                                    'num_votes', 'director_name', 'director_birth_year', 'director_known_titles', 
                                    'actor_id', 'actor_name']                                                                  

print("\nComplete IMDB dataset sample:")
df_imdb_directors_actors.head()

Columns after merging with title.ratings: Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes'],
      dtype='object')

Columns after merging with title.crew: Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'directors', 'director'],
      dtype='object')

Columns after merging with name.basics: Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'directors', 'director', 'nconst', 'primaryName',
       'birthYear', 'primaryProfession', 'knownForTitles'],
      dtype='object')
Columns after merging with title.principals: Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'directors', 'director', 'nconst_x', 'primaryName',
       'birthYear', 'primaryProfession', 'knownForTitles', 'nconst_y',
       'category'],
      dtype='object')

Columns after merging with name.basics for actors: Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'directors', 'director', 'nconst_x', 'primaryName_x',
       'birthYear', 'primaryProfession', 'knownForTitles', 'nconst_y',
       'category', 'nconst', 'primaryName_y'],
      dtype='object')

Complete IMDB dataset sample:

,movie_id,movie_name,movie_release_year,genres,average_rating,num_votes,director_name,director_birth_year,director_known_titles,actor_id,actor_name
0,tt0000009,Miss Jerry,1894,Romance,5.4,216.0,Alexander Black,1859,tt0000009,nm0183823,William Courtenay
1,tt0000009,Miss Jerry,1894,Romance,5.4,216.0,Alexander Black,1859,tt0000009,nm1309758,Chauncey Depew
2,tt0000147,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.2,540.0,Enoch J. Rector,1863,"tt0381108,tt0000147,tt0229676",NaN,NaN
3,tt0000502,Bohemios,1905,\N,4.1,19.0,Ricardo de Baños,1884,"tt0002886,tt0004406,tt0024495,tt0000941",nm0215752,Antonio del Pozo
4,tt0000502,Bohemios,1905,\N,4.1,19.0,Ricardo de Baños,1884,"tt0002886,tt0004406,tt0024495,tt0000941",nm0252720,El Mochuelo

In [29]:
# Select only relevant columns from df_cmu_movie_metadata
df_cmu_movie_revenue = df_cmu_movie_metadata[['name', 'revenue']]

# Merge IMDb data with CMU data to include revenue
df_imdb_complete = pd.merge(
    df_imdb_directors_actors,
    df_cmu_movie_metadata,
    left_on='movie_name',    # IMDb movie name
    right_on='name',         # CMU movie name
    how='left'
)

# Drop redundant `name` column from CMU meta data after merge
df_imdb_complete = df_imdb_complete.drop(columns=['name'])

print("\nMerged complet IMDB with movie revenue from CMU meta data:")
print(df_imdb_complete.shape)
df_imdb_complete.head()

Merged complet IMDB with movie revenue from CMU meta data:
(3222444, 20)

,movie_id,movie_name,movie_release_year,genres_x,average_rating,num_votes,director_name,director_birth_year,director_known_titles,actor_id,actor_name,wikipedia_movie_id,freebase_movie_id,release_date,revenue,runtime,languages,countries,genres_y,release_year
0,tt0000009,Miss Jerry,1894,Romance,5.4,216.0,Alexander Black,1859,tt0000009,nm0183823,William Courtenay,10109752.0,/m/02q23xk,1894-10-09,NaN,NaN,"{""/m/06ppq"": ""Silent film""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",1894
1,tt0000009,Miss Jerry,1894,Romance,5.4,216.0,Alexander Black,1859,tt0000009,nm1309758,Chauncey Depew,10109752.0,/m/02q23xk,1894-10-09,NaN,NaN,"{""/m/06ppq"": ""Silent film""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",1894
2,tt0000147,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.2,540.0,Enoch J. Rector,1863,"tt0381108,tt0000147,tt0229676",NaN,NaN,28703057.0,/m/0czdh_n,1897-05-22,100000.0,NaN,{},{},"{""/m/01z02hx"": ""Sports""}",1897
3,tt0000502,Bohemios,1905,\N,4.1,19.0,Ricardo de Baños,1884,"tt0002886,tt0004406,tt0024495,tt0000941",nm0215752,Antonio del Pozo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000502,Bohemios,1905,\N,4.1,19.0,Ricardo de Baños,1884,"tt0002886,tt0004406,tt0024495,tt0000941",nm0252720,El Mochuelo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_imdb_complete.to_csv('data/movie_directors_actors.csv', index=False)

#### TMDB dataset

Link to download the data: https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies?resource=download

In [33]:
df_tmdb = pd.read_csv('data/tmdb/TMDB_movie_dataset_v11.csv')
df_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [34]:
df_tmdb.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [35]:
df_tmdb['release_year'] = df_tmdb['release_date'].apply(extract_year)
df_tmdb.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,release_year
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",2010
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",2014
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",2008
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",2009
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",2012

In [36]:
# Check tmdb dataset shape before filtering
df_tmdb.shape

(1131886, 25)

In [37]:
# Clean tmdb dataset before merging it with the cmu dataset

# Filter released movies
df_tmdb = df_tmdb[df_tmdb['status'] == 'Released']
print("Number of released movies in tmdb dataset: ", df_tmdb.shape)

Number of released movies in tmdb dataset:  (1106250, 25)

In [38]:
# Drop movies with missing release date
df_tmdb.dropna(subset=['release_date'], inplace=True)
print("Number of movies with release date information: ", df_tmdb.shape)

Number of movies with release date information:  (938323, 25)

##### Merge IMDB and Tropes datasets

In [39]:
# tropes with imdb ids matched
df_imdb_movie_tropes.head()

,imdb_id,title_id,clean_title,trope_id,trope,description,example
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ..."

In [40]:
# merge imdb titles basics information with tropes
df_movie_tropes = pd.merge(df_imdb_movie_tropes, df_imdb_title_basics, how='inner', left_on='imdb_id', right_on='tconst')

In [41]:
print("-------" * 10)
print(f"imdb shape: {df_imdb_title_basics.shape}")
print(f"movie tropes imdb shape: {df_imdb_movie_tropes.shape}")
print(f"movie tropes merged with imdb dataset shape: {df_movie_tropes.shape}")
print("-------" * 10)

df_movie_tropes.head()

----------------------------------------------------------------------
imdb shape: (697071, 9)
movie tropes imdb shape: (390511, 7)
movie tropes merged with imdb dataset shape: (380698, 16)
----------------------------------------------------------------------

,imdb_id,title_id,clean_title,trope_id,trope,description,example,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0075617,f0,abbathemovie,t14656,MsFanservice,\nA female character who provides a significan...,The concert segments make it clear that Agnet...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
1,tt0075617,f0,abbathemovie,t11527,InsistentTerminology,"\nHey, we aren't ""describing"" Insistent Termin...",The radio station manager that tasks Ashley w...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
2,tt0075617,f0,abbathemovie,t23019,TheIngenue,\nThe Ingenuenote pronounced ON-jeh-noo is a y...,A rare male example; when Benny reads one new...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
3,tt0075617,f0,abbathemovie,t09016,GettingCrapPastTheRadar,\n\nGetting Crap Past the Radar refers to inst...,During Ashley's fantasy sequence in which he ...,tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"
4,tt0075617,f0,abbathemovie,t25994,WhoWearsShortShorts,"\nHot pants, mini shorts, or daisy dukes? What...","Frida's outfit in the ""Why Did It Have to Be ...",tt0075617,movie,ABBA: The Movie,ABBA: The Movie,0,1977,\N,95,"Comedy,Documentary,Music"

In [42]:
df_movie_tropes.to_csv('data/movie_tropes.csv', index=False)

#### Merge CMU and TMDB datasets

In [43]:
df_cmu_movie_metadata.columns

Index(['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_date',
       'revenue', 'runtime', 'languages', 'countries', 'genres',
       'release_year'],
      dtype='object')

In [44]:
df_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'release_year'],
      dtype='object')

Merging the CMU and TMDB datasets by movie name and release year

In [46]:
# merge cmu movie metadata with tmdb dataset to fill in missing information such as revenue which has a lot of missing values
df_cmu_movie_metadata_selected = df_cmu_movie_metadata[['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_year']]
df_cmu_tmdb = pd.merge(
    df_tmdb,
    df_cmu_movie_metadata_selected,
    how='inner',
    left_on=['title','release_year'],
    right_on=['name', 'release_year']
)

print("-------" * 10)
print(f"CMU Movie Summary Corpus shape: {df_cmu_movie_metadata_selected.shape}")
print(f"TMDB shape: {df_tmdb.shape}")
print(f"CMU TMDB merged dataframe shape: {df_cmu_tmdb.shape}")
print("-------" * 10)

df_cmu_tmdb.head()

----------------------------------------------------------------------
CMU Movie Summary Corpus shape: (74839, 4)
TMDB shape: (938323, 25)
CMU TMDB merged dataframe shape: (50633, 28)
----------------------------------------------------------------------

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,tagline,genres,production_companies,production_countries,spoken_languages,keywords,release_year,wikipedia_movie_id,freebase_movie_id,name
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",2010,23270459,/m/0661ql3,Inception
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",2014,6009939,/m/0fkf28,Interstellar
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",2008,4276475,/m/0btpm6,The Dark Knight
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",2009,4273140,/m/0bth54,Avatar
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",2012,22114132,/m/062zm5h,The Avengers

Before saving the data, inspect that column names, and non-null values are correct

In [47]:
df_cmu_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'release_year', 'wikipedia_movie_id', 'freebase_movie_id',
       'name'],
      dtype='object')

In [48]:
df_cmu_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50633 entries, 0 to 50632
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    50633 non-null  int64
 1   title                 50633 non-null  object
 2   vote_average          50633 non-null  float64
 3   vote_count            50633 non-null  int64
 4   status                50633 non-null  object
 5   release_date          50633 non-null  object
 6   revenue               50633 non-null  int64
 7   runtime               50633 non-null  int64
 8   adult                 50633 non-null  bool
 9   backdrop_path         34516 non-null  object
 10  budget                50633 non-null  int64
 11  homepage              4285 non-null   object
 12  imdb_id               49519 non-null  object
 13  original_language     50633 non-null  object
 14  original_title        50633 non-null  object
 15  overview              49527 non-null  object
 16  popularity            50633 non-null  float64
 17  poster_path           46520 non-null  object
 18  tagline               22984 non-null  object
 19  genres                47422 non-null  object
 20  production_companies  40403 non-null  object
 21  production_countries  45039 non-null  object
 22  spoken_languages      45393 non-null  object
 23  keywords              31540 non-null  object
 24  release_year          50633 non-null  object
 25  wikipedia_movie_id    50633 non-null  int64
 26  freebase_movie_id     50633 non-null  object
 27  name                  50633 non-null  object
dtypes: bool(1), float64(2), int64(6), object(19)
memory usage: 10.5+ MB

In [50]:
# Remove movies with missing imdb because we need it for the tropes analysis
df_cmu_tmdb.dropna(subset=['imdb_id'], inplace=True)
df_cmu_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49519 entries, 0 to 50632
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    49519 non-null  int64
 1   title                 49519 non-null  object
 2   vote_average          49519 non-null  float64
 3   vote_count            49519 non-null  int64
 4   status                49519 non-null  object
 5   release_date          49519 non-null  object
 6   revenue               49519 non-null  int64
 7   runtime               49519 non-null  int64
 8   adult                 49519 non-null  bool
 9   backdrop_path         34367 non-null  object
 10  budget                49519 non-null  int64
 11  homepage              4220 non-null   object
 12  imdb_id               49519 non-null  object
 13  original_language     49519 non-null  object
 14  original_title        49519 non-null  object
 15  overview              48544 non-null  object
 16  popularity            49519 non-null  float64
 17  poster_path           45866 non-null  object
 18  tagline               22914 non-null  object
 19  genres                46725 non-null  object
 20  production_companies  40034 non-null  object
 21  production_countries  44467 non-null  object
 22  spoken_languages      44712 non-null  object
 23  keywords              31396 non-null  object
 24  release_year          49519 non-null  object
 25  wikipedia_movie_id    49519 non-null  int64
 26  freebase_movie_id     49519 non-null  object
 27  name                  49519 non-null  object
dtypes: bool(1), float64(2), int64(6), object(19)
memory usage: 10.6+ MB

In [ ]:
df_cmu_tmdb.to_csv('data/cmu_tmdb.csv', index=False)

##### Merge CMU character and CMU movie dadatasets (+ ratings in IMDB)

In [51]:
df_imdb_name_basics =  pd.read_csv('data/imdb/name.basics.tsv', sep='\t')
df_imdb_name_basics.columns = ['nconst', 'primary_name', 'birth_year', 'death_year', 'primary_profession', 'known_for_titles']
df_imdb_name_basics.sample(5)

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
13320658,nm9244780,Wilmer Hernandez,\N,\N,actor,tt7091162
985209,nm10069493,Nakiebra 'Keebie' Palmer,\N,\N,"writer,producer,animation_department","tt33088476,tt10315068,tt15067470,tt25502814"
4111243,nm13385820,Jordi Lauren,\N,\N,producer,tt18116216
907558,nm0971170,Tyler Regan,\N,1993,actor,"tt0251130,tt0147403,tt0298531,tt0251825"
1483531,nm10607186,Ian,\N,\N,\N,\N

In [54]:
print(df_cmu_character_metadata.columns)
print(df_cmu_movie_metadata.columns)

# Merge character and movie metadata on movie id
df_cmu_movie_character = pd.merge(df_cmu_character_metadata, df_cmu_movie_metadata, on=['wikipedia_movie_id', 'freebase_movie_id', 'release_year'], how='inner')

# Merge the result with movie ratings
df_imdb_movie_rating = df_imdb_directors_actors[['movie_name', 'average_rating', 'num_votes']]

df_movie_actors = pd.merge(df_cmu_movie_character, df_imdb_movie_rating, left_on='name', right_on='movie_name', how='inner')

# Drop redundant `name` column from CMU movie meta data after merge
df_movie_actors = df_movie_actors.drop(columns=['name'])

print(df_movie_actors.shape)
df_movie_actors.sample(5)

Index(['wikipedia_movie_id', 'freebase_movie_id', 'release_date',
       'character_name', 'actor_date_of_birth', 'actor_gender',
       'actor_height_in_meters', 'actor_ethnicity_freebase_id', 'actor_name',
       'actor_age_at_movie_release', 'freebase_character_actor_map_id',
       'freebase_character_id', 'freebase_actor_id', 'release_year'],
      dtype='object')
Index(['wikipedia_movie_id', 'freebase_movie_id', 'name', 'release_date',
       'revenue', 'runtime', 'languages', 'countries', 'genres',
       'release_year'],
      dtype='object')
(5270797, 23)

,wikipedia_movie_id,freebase_movie_id,release_date_x,character_name,actor_date_of_birth,actor_gender,actor_height_in_meters,actor_ethnicity_freebase_id,actor_name,actor_age_at_movie_release,...,release_year,release_date_y,revenue,runtime,languages,countries,genres,movie_name,average_rating,num_votes
2277702,23069508,/m/064mg8g,2009-09-14,Steven,1972-01-11,M,1.88,NaN,Marc Blucas,37.0,...,2009,2009-09-14,4980736.0,127.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/068d7h"": ""Romantic drama"", ""/m/02l7c8"": ""...",Mother and Child,6.3,7.0
5011070,28946416,/m/0dgssgq,1932-03-06,NaN,1886-01-03,F,NaN,NaN,Josephine Hull,NaN,...,1932,1932-03-06,NaN,79.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",After Tomorrow,7.6,9.0
1863012,23555843,/m/06w2fhm,1965-04-22,Margarita Pavlovna,1922-07-13,F,NaN,NaN,Maria Vinogradova,42.0,...,1965,1965-04-22,NaN,77.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/05vz3zq"": ""Soviet Union""}","{""/m/05p553"": ""Comedy film""}",Thirty Three,NaN,NaN
4323064,34129784,/m/09pghcp,1941-12,Walter Caldwell,1914-12-28,M,NaN,NaN,Lee Bowman,NaN,...,1941,1941-12,NaN,85.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",Design for Scandal,6.2,569.0
5182216,31041572,/m/07l4_cr,2009,NaN,NaN,M,NaN,NaN,Zohar Strauss,NaN,...,2009,2009,NaN,102.0,"{""/m/02h40lc"": ""English Language"", ""/m/06b_j"":...","{""/m/03spz"": ""Israel""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",Kirot,4.0,13.0

In [55]:
df_movie_actors.to_csv('data/movie_actors.csv', index=False)

## Exploratory Data Analysis

## Research questions

### 1. What metrics (e.g., low ratings, limited number of ratings, revenue vs budget) best indicate movie failure?

### 2. How do actor demographics and lack of diversity impact audience disengagement and contribute to box office underperformance?

### 3. What role do director-actor collaborations play in a movie’s failure, and are there specific patterns in these partnerships that correlate with unsuccessful films?

### 4. Is thematic consistency in director filmographies a predictor of failure/success?

### 5. How do overused or poorly executed character tropes contribute to a movie’s box office failure?

### 6. How does genre choice influence a movie’s failure, particularly in different cultural contexts?

### 7. How does poor release timing (e.g., season, holiday periods) affect a movie's likelihood of failing?

### 8. How has the thematic content of movie plots evolved, and what themes have historically failed to resonate with audiences?

### 9. How does portraying controversial social issues or outdated themes affect a movie’s acceptance and potential failure across demographics?